/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: #F1AD06;
    font-weight: bold;
}

a:hover {
    /*Typography Declarations*/
    color: #741938;
}

.masthead-heading,
.masthead-intro,
.mastfoot {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-weight: bold;
    color: #40234C;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

.masthead {
    padding: 6em 0;
    background-image: url('http://i.imgur.com/crez3Gf.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #black;
    border-top: solid .1em #E9A2F2;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: 0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.introduction,
.wherefrom,
.aboutme {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction > p,
.wherefrom > p,
.aboutme > p {
    /*Typography Declarations*/
    font-weight: 300;
    letter-spacing: 0.05em;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

.mastfoot {
    background-color: #247471;
    margin-top: 3em;
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
}

.social {
    padding: 0;
    list-style: none;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.social > li {
    display: inline-block;
    text-shadow: .5px .5px .5px #000;
}


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .introduction,
    .wherefrom,
    .aboutme {
        max-width: 20rem;
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
}
