/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Varela Round', sans-serif;
}

li {
    list-style-type: none;
    display: inline;
    margin-left: .7rem;
}

ul {
    margin-top: .9rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #edd9c0;
}

h3 {
    font: 'Playfair Display', serif;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p {
    font-family: 'Varela Round', sans-serif;
}

img {
    height: 7rem;
}

h4 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 100;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

header {
    position: relative;
    z-index: 99;
    background: #e8edf3;
    padding: 16px 0 20px 0;
    border-bottom: 1px solid #eaeaea;
    height: 5rem;
    color: black;
}

.content {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.content h2 {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: 200;
}

.nav {
    float: right;
    font-family: 'Playfair Display', serif;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.first {
    position: relative;
    background: #b56969;
    padding: 16px 0 20px 0;
    height: 20rem;
    color: white;
    font-size: 3rem;
    width: 100%;
}

.secondary {
    font-size: 2.0rem;
    text-align: center;
}

.secondary-blog {
    font-size: 1.0rem;
    text-align: center;
}

.content {
    width: 70%;
    margin: 0 auto;
}

.first p {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.second {
    background: #e6cf8b;
    height: 50rem;
    font-size: 3rem;
    width: 100%;
    color: black;
}

.second p {
    font-size: 2rem;
}

.companies ul {
    list-style-type: none;
}

.companies li {
    height: 12rem;
    width: 12rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.companies p {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: black;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

footer {
    background: #c9d8c5;
    padding: 16px 0 20px 0;
    border-bottom: 1px solid #eaeaea;
    height: 5rem;
    color: black;
    text-align: center;
    padding-top: 2rem;
}


/*Blog Styles*/

.blog-head {
    position: relative;
    text-align: center;
    background: #b56969;
    padding: 16px 0 20px 0;
    height: 12rem;
    color: white;
    font-size: 3rem;
    width: 100%;
}

.blog-content {
    position: relative;
    text-align: center;
    background: white;
    padding: 16px 0 20px 0;
    height: 45rem;
    color: black;
    font-size: 3rem;
    width: 100%;
}

.project {
    height: 20rem;
    width: 80%;
    margin-bottom: 2rem;
    margin: 2rem auto;
    display: block;
}

.project p {
    font-size: .9rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.project img {
    margin-top: 2rem;
    height: 10rem;
    width: 15rem;
    border: 1px solid black;
}


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
