/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Varela Round', sans-serif;
}

li {
    list-style-type: none;
    display: inline;
    margin-left: .7rem;
}

ul {
    margin-top: .9rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #edd9c0;
}

h3 {
    font: 'Playfair Display', serif;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    font-family: 'Varela Round', sans-serif;
}

img {
    height: 7rem;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    font-weight: 100;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

header {
    position: relative;
    z-index: 90;
    background: #e8edf3;
    padding: 16px 0 20px 0;
    border-bottom: 1px solid #eaeaea;
    height: 5rem;
    color: black;
}

.content {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.content h2 {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: 200;
}

.nav {
    float: right;
    font-family: 'Playfair Display', serif;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.first {
    background: #b56969;
    height: 100%;
    color: white;
    font-size: 2rem;
    width: 100%;
}

.secondary {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.tertiary {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.quote {
    background: #a8b6bf;
    height: 100%;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.first-quote {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    padding-top: 1.2rem;
    margin: 0 auto;
    font-weight: 900;
    margin-bottom: .5rem;
    font-family: 'Playfair Display', serif;
}

.first-quote-author {
    margin-top: -3rem;
    font-size: 1rem;
    text-align: center;
}

.secondary-blog {
    font-size: 1.0rem;
    text-align: center;
}

.content {
    width: 70%;
    margin: 0 auto;
}

.first p {
    margin-top: .2rem;
    padding-bottom: .2rem;
}

.skills {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
    background: white;
    padding-top: 1rem;
}

.skills img {
    padding-top: 3rem;
    height: 15rem;
    padding-bottom: 3rem;
}

.second {
    background: white;
    height: 100%;
    font-size: 3rem;
    width: 100%;
    color: black;
    padding-bottom: 2rem;
}

.second p {
    font-size: 25rem;
}

.second img {
    padding-bottom: .5rem;
}

.companies ul {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
}

.companies li {
    height: 12rem;
    width: 12rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.companies p {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: black;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

footer {
    background: #c9d8c5;
    padding: 16px 0 20px 0;
    border-bottom: 1px solid #eaeaea;
    height: 5rem;
    color: black;
    text-align: center;
    padding-top: 2rem;
}


/*Portfolio Styles*/

.portfolio-content {
    background: #e6cf8b;
    height: 100%;
    padding-bottom: 2rem;
    color: black;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.project {
    height: 100%;
    width: 80%;
    margin: 0 auto 0 auto;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.project h3 {
    padding-bottom: 2rem;
    color: #7d4627;
}

.project p {
    font-size: .9rem;
    text-align: left;
    width: 40%;
    margin: 0 auto;
    color: #7d4627;
}

.project a {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    color: #7d4627;
}

.project a:hover {
    color: #b56969;
    text-decoration: underline;
}

.project img {
    margin-top: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 15rem;
    border: 1px solid black;
}

.customHr {
    height: .2rem;
    z-index: 99;
}


/* Blog Styles */

.blog-first {
    position: relative;
    text-align: center;
    background: #edd9c0;
    padding: 16px 0 20px 0;
    height: 35rem;
    color: black;
    font-size: 1.5rem;
    width: 100%;
}

.blog-first h2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 10rem;
}

.contact {
    background: white;
    height: 100%;
    font-size: 3rem;
    width: 100%;
    color: #b56969;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.contact p {
    border: 2px solid #b56969;
    width: 15%;
    color: #b56969;
    margin: 0 auto;
    font-size: 2rem;
    display: inline;
    margin-right: .8rem;
    padding-right: .8rem;
    padding-left: .8rem;
}

.contact p:hover {
    background: #a8b6bf;
}

.contact a {
    color: #b56969;
}

.contact h3 {
    color: black;
    padding-top: 1rem;
}


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/


/*ipad potrait*/

@media only screen and (max-width: 870px) {
    .skills img {
        height: 12rem;
    }
}

@media only screen and (max-width: 650px) {
    .skills img {
        height: 10rem;
    }
    .companies img {
        height: 8rem;
        padding-top: 1rem;
    }
    .companies p {
        font-size: .8rem;
    }
    .companies li {
        height: 6rem;
        width: 6rem;
    }
    .contact p {
        font-size: 1rem;
    }
    .content h2 {
        font-family: 'Josefin Sans', sans-serif;
        float: none;
        font-size: 1.2rem;
        margin-top: .5rem;
        font-weight: 200;
    }
    .nav {
        float: none;
        padding-bottom: 2rem;
    }
    .nav li {
        font-size: .7rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .secondary {
        font-size: .8rem;
    }
    .project a {
        font-size: 1.1rem;
    }
    .project p {
        width: 70%;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    .companies img {
        height: 5rem;
        padding-top: 1rem;
    }
    .companies p {
        font-size: .8rem;
    }
    .companies li {
        height: 6rem;
        width: 6rem;
    }
    .contact p {
        font-size: .7rem;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
